@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121010;
  color: #f3f4f6;
}

a {
  color: #fff;
}

.active {
  color: #3b82f6;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

html, body {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;
}

.section {
  margin-bottom: 2rem;
}

.section-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: #f3f4f6;
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #374151;
}

.line-numbers .line-numbers-rows {
  border-right: none !important;
  /* left: -3.8rem !important; */
}

/*
pre[class*="language-"].line-numbers {
  padding-left: 3em !important;
}
*/

[data-gap] {
  display: inline-block;
  margin-inline: 0.5rem;
}

[data-gap-block] {
  margin-block: 1.5rem;
}

.inline-code {
  background-color: #252627;
  color: #f3f4f6;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
  border: 1px solid #171717;
}

.code-block-container {
  position: relative;
  margin: 1rem 0;
  border-radius: 0.5rem;
  overflow: hidden;
}

.code-block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191c21;
  padding: 0.75rem 1rem;
}

.code-block-filename {
  color: #e2e8f0;
  font-size: 0.875rem;
  font-weight: 500;
}

.code-block-pre.with-header {
  border-radius: 0;
}

.code-block-pre code {
  display: block;
  padding: 0;
  margin: 0;
  background: transparent;
}

.code-block-container pre[class*="language-"] {
  margin: 0;
  padding: 1rem;
  border-radius: 0;
}

.copy-code-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #191c21;
  color: #f3f4f6;
  cursor: pointer;
  z-index: 10;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #374151;
  font-size: 0.875rem;
}

.copy-code-button-header {
  background-color: #191c21;
  color: #f3f4f6;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #374151;
  font-size: 0.875rem;
}

.copy-code-button:hover,
.copy-code-button-header:hover {
  background-color: #1e2732;
}