@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  color: #333;
}

a {
  color: #3b82f6;
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #374151;
}

html, body {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  min-height: 100vh;
}

.section {
  margin-bottom: 2rem;
}

.section-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #e5e7eb;
}

.line-numbers .line-numbers-rows {
  border-right: none !important;
  /* left: -3.8rem !important; */
}

/*
pre[class*="language-"].line-numbers {
  padding-left: 3em !important;
}
*/

[data-gap] {
  display: inline-block;
  margin-inline: 0.5rem;
}

[data-gap-block] {
  margin-block: 1.5rem;
}

.inline-code {
  background-color: #f3f4f6;
  color: #374151;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
  border: 1px solid #e5e7eb;
}